
@{
    ViewData["Title"] = "Add";
}
@model Product
<h1>Prudcut Add</h1>

<form asp-controller="products" asp-action="add" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name :</label>
        <input  class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Price :</label>
        <input class="form-control" asp-for="Price">
    </div>
    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Stock :</label>
        <input class="form-control" asp-for="Stock">
    </div>
    <div class="mb-5">
        <select asp-for="Color" asp-items="@ViewBag.ColorSelect" class="form-select" aria-label="Default select example">
            <option value="">Choose color</option>
        </select>
        
       @* <label asp-for="Stock" class="form-label">Color :</label>
        <input class="form-control" asp-for="Color">*@
    </div>
    <div class="mb-5">
        <div class="form-check">
            <input class="form-check-input" asp-for="IsPublish">
            <label class="form-check-label" asp-for="IsPublish">
                Is publish?
            </label>
        </div>
    </div>
    <div class="mb-5">
        <span>How many months will the product be on sale?</span>
    @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
    {
          <div class="form-check">
          <input class="form-check-input" type="radio" id="@(item.Value)Expire"asp-for="Expire"value="@item.Value" >
                <label class="form-check-label" asp-for="Expire" for="@(item.Value)Expire">
            @item.Key
          </label>
          </div>
    }
    </div>

    <div class="form-floating mb-5">
        <textarea asp-for="Description" class="form-control" placeholder="Product Description"style="height: 100px"></textarea>
        <label asp-for="Description">Product Description</label>
    </div>

    <button class="btn btn-primary" type="submit">New Product</button>
</form>