
@{
    ViewData["Title"] = "Update";
}
@model ProductViewModel

<h1>Product Update</h1>


<form asp-controller="products" asp-action="update" method="post" enctype="multipart/form-data">
    
    <div>
        <img style="width:100px;height:100px" src="@(String.IsNullOrEmpty(Model.ImagePath)? "/images/noimage.png":"/images/"+Model.ImagePath)"/>
    </div>
    <div class="mb-3">
        <label>Id :</label>
        <label asp-for="Id" class="form-label">@Model.Id :</label>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name :</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>

    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Price :</label>
        <input class="form-control" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>

    </div>
    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Stock :</label>
        <input class="form-control" asp-for="Stock">
        <span class="text-danger" asp-validation-for="Stock"></span>

    </div>
    <div class="mb-5">
        <select asp-for="Color" asp-items="@ViewBag.ColorSelect" class="form-select" aria-label="Default select example">
            <option value="">Choose color</option>
        </select>
        <span class="text-danger" asp-validation-for="Color"></span>


        @* <label asp-for="Stock" class="form-label">Color :</label>
        <input class="form-control" asp-for="Color">*@
    </div>
    <div class="mb-5">
        <div class="form-check">
            <input class="form-check-input" asp-for="IsPublish">
            <label class="form-check-label" asp-for="IsPublish">
                Is publish?
            </label>
        </div>
    </div>
    <div class="mb-5">
        <span>How many months will the product be on sale?</span>
        @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
        {
            <div class="form-check">        
            <input class="form-check-input" type="radio" id="@(item.Value)Expire" asp-for="Expire" value="@item.Value" checked=@(item.Value==ViewBag.ExpireValue ? true:false)>   
            <label class="form-check-label" asp-for="Expire" for="@(item.Value)Expire">@item.Key</label>
            </div>
        }
        <span class="text-danger" asp-validation-for="Expire"></span>

    </div>
 
    <div class="form-floating mb-5">
        <textarea asp-for="Description" class="form-control" placeholder="Product Description" style="height: 100px"></textarea>
        <label asp-for="Description">Product Description</label>
        <span class="text-danger" asp-validation-for="Description"></span>

    </div>

    <div class="mb-3">
        <label asp-for="PublishDate" class="form-label">Publish Date :</label>
        <input class="form-control" asp-for="PublishDate">
        <span class="text-danger" asp-validation-for="PublishDate"></span>

    </div>
        <div class="mb-3">
        <label for="formFileLg" class="form-label">Product Image</label>
        <input class="form-control form-control-lg" asp-for="Image" id="formFileLg" type="file">
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}