@using MyAspNetCoreApp.Web.Controllers
@{
    ViewData["Title"] = "Index";
    var alert = "bu bir uyari mesajidir";
}
@model List<Product>;


<h1>Ornek Kontroller Index</h1>

@{
    var name = @ViewBag.name;
    <p>@name</p>
}

<p>@name</p>
<p>@ViewBag.name</p>
<p>@ViewBag.person.id-@ViewBag.person.name-@ViewBag.person.age</p>
<hr />
<p>Yas:@ViewData["age"]</p>


<h1>Isimler</h1>
@foreach (var item in ViewData["names"] as List<string>)
{
    <p>@item</p>
}


<hr />
<h1>ViewModel</h1>
@foreach (var item in Model)
{
    <p>@item.Id-@item.Name</p>
}

<div>Gunun tarihi: @DateTime.Now.ToShortDateString()</div>

@{
    var datetime = DateTime.Now.ToShortDateString();
    var message = "Merhaba";
    @:bugunun tarihi:@datetime
   <text>Bugunun tarihi : @datetime</text>
    <div>mesaj: @message</div>
}

@if (false)
{
    <p>Dogru</p>
}
else if(DateTime.IsLeapYear(DateTime.Now.Year))
{
    <p>artik yil</p>
}
else
{
    <h1>@alert</h1>
    <p>yanlis</p>
}
@for (int i = 0; i < 10; i++)
{
    <p>@i</p>
}

@foreach (var item in Enumerable.Range(1,10).ToList())
{
    <p>@item</p>
}
